* {
	text-transform: none;
	// border-radius: 0 !important;
	font-family: 'Jost', 'sans-serif';
}

.auth-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.ion-height {
	height: 100vh;
}

.ion-transparent {
	box-shadow: none !important;
}

.ion-bold {
	font-weight: bold;
}

.ion-select {
	height: 5vh;
	line-height: 5vh;
	vertical-align: middle;
	border-radius: 6px;
}

.ion-input {
	background-color: #fff;
	color: grey;
	height: 5vh;
	line-height: 5vh;
	vertical-align: middle;
}

.card-content {
	padding: 10px;
}

.vehicle-brand {
	font-size: 16px;
	font-weight: 500;
	color: black;
}

.row {
	border-bottom: solid 1px #ddd;
	background: linear-gradient(0deg, rgb(0 0 0 / 3%) 0%, rgb(255 255 255 / 18%) 100%);
}

.price {
	font-weight: 500;
}

.btn {
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1em;
	font-size: 14px;
}
